@import './base.css';

.container {
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2em;
}
@media (max-width: 1000px) and (min-width: 0px) {
    .container {
        font-size: 80%;
        text-align: center;
    }
}
@media (max-width: 500px) and (min-width: 0px) {
    .container {
        font-size: 60%;
    }
}




