@import './base.css';

.container {
    height: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 2em;
    font-size: 1em;
}

.layout {
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(134, 134, 134, 0.3);
    height: min-content;
    padding: 2rem;
}

.title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.view {
    width: 100%;
    min-height: 100vh;
    background-color: #EDEDED;
    margin: 0;
    padding-bottom: 5%;

    .container {
        padding-top: 5%;
    }
}
@media (max-width: 1500px) and (min-width: 0px) {
    html {
        font-size: 85%;
    }
}
@media (max-width: 1300px) and (min-width: 0px) {
    .container {
        gap: 1rem !important;
    }
}

.lp-title {
    font-size: 3em;
    padding-bottom: 5rem;
    font-weight: bold;
    text-align: center;
}

.lp-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #555;
    }
}

.lp-card {
    background: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) and (min-width: 0px) {
    .container {
        font-size: 80%;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) and (min-width: 0px) {
    .container {
        font-size: 60%;
    }
}




