@import './base.css';

.container {
    height: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 2em;
}

.layout {
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(134, 134, 134, 0.3);
    height: min-content;
    padding: 2rem;
}

.title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.view {
    width: 100%;
    min-height: 100vh;
    background-color: #EDEDED;
    margin: 0;
    padding-bottom: 5%;

    .container {
        padding-top: 5%;
    }
}

@media (max-width: 1000px) and (min-width: 0px) {
    .container {
        font-size: 80%;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) and (min-width: 0px) {
    .container {
        font-size: 60%;
    }
}




